.feedback-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--text-light); 
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  color: var(--text-dark); 
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  border-top: 4px solid var(--primary-color); 
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-dark); 
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s; 
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(102, 51, 153, 0.2);
}

textarea {
  resize: none;
}

.error {
  color: #d93025;
  font-size: 14px;
  margin-top: 5px;
}

form .btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn-primary:hover {
  background-color: #c06d36; 
  transform: translateY(-2px);
}

form .btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(102, 51, 153, 0.3);
}